footer.py-5(style="background: #fafafa;")
    .container
        .row

            .col-md-4.col-sm-12

                p.mb-0 Template designed by <a href="https://bootstraptemple.com">Bootstrap Temple</a>. 

            .col-md-4.col-sm-6

                p.mb-0 This is footer.

            .col-md-4.col-sm-6